{% extends "EIAdminBundle::layout.html.twig" %}



{% block title %}
Page utilisateur
{% endblock %}

{% block content %}

  {{ include("EIAdminBundle:Admin:form.html.twig") }}



  <p>
   
  </p>

{% endblock %}

