{% extends "EIAdminBundle::layout.html.twig" %}

{% block title %}
  Supprimer
{% endblock %}

{% block content %}

  <p>
    Etes-vous certain de vouloir supprimer cette d'id :  "{{ br.id }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('ei_admin_deleteBR', {'id': br.id}) }}" method="post">
    <a href="{{ path('ei_admin_viewBR', {'id': br.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour 
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}
