/*footer*/
footer{
    background-image: url("../images/largeLiegeGrey.png");
    background-position: center center;
    background-repeat: no-repeat;
    @include background-cover;
    height: 350px;
    opacity: 0.5;  
}


.contact{
    color: $primary-color3;
    font-family: $main-font;
    font-size: 20px;
    margin-top: 215px;
        .social{
            i{
                font-size: 40px;
                margin-right: 20px;
                -webkit-transition: .4s; 
                transition: .4s;
                
                &:hover{
                color: $primary-color2;
                }
            }
            
            
        }
}

.newsletter-background{
    background-color: #bdbec0;
    }
 .newsletter{
        padding-bottom: 10px;  
        width: 60%;
        margin: 0 auto;
        

            h3{
             color: $primary-color3;
            }
            .send-comment-btn{
                width: 100%;
                background-color: $primary-color3;
                color: #fff;
                -webkit-transition: .7s; 
                transition: .7s;
                margin-top: 5px;
                &:hover{
                   background-color: $primary-color2;
                   color: $primary-color3;
                }
            }  
        }
.logo-partners {
    width: 100%;
    text-align: center;
    background-color: #bdbec0;
    padding: 20px 0;
    border-top: 1px solid $primary-color3;
    
        ul {
        width: 60%;
        margin: 0 auto;
        padding: 0;
        margin-top: 10px;

            li{
            display: inline;
            padding: 13px 15px;


                a{
                display: inline-block;
                vertical-align: middle;
                text-decoration: none;
                .logo-liege{
                    width: 70px;
                    height: 100px;
                }
                .logo-together{
                    width: 120px;
                    height: 80px;
                }
                .logo-wallonia{
                    width: 100px;
                    height: 60px;
                }
                .logo-tourisme{
                    width: 50px;
                    height: 84px;
                }
                }

            } 
        }
}

@media screen and (max-width:1170px) {
        footer{
        height: 200px;
    }
        .contact{
         background-color: #bdbec0;
         margin-top: 170px;
         font-size: 15px;
         padding-bottom: 15px;
    }
}

@media screen and (max-width:768px) {
    footer{
        height: 200px;
    }
}

@media screen and (max-width:500px) {
    footer{
        height: 110px;
    }
    
    .contact{
     margin-top: 100px;
     padding-bottom: 15px;
    }
    
    .logo{
        ul{
            li{
                a{
                padding: 10px;
                 .logo-liege{
                    width: 30px;
                    height: 50px;
                    }
                    .logo-together{
                        width: 80px;
                        height: 40px;
                    }
                    .logo-wallonia{
                        width: 60px;
                        height: 30px;
                    }
                    .logo-tourisme{
                        width: 20px;
                        height: 34px;
                    }   
                }
            }
        }      
    }
}