/*rose*/
$primary-color1: #f3d2d5;
/*vert*/
$primary-color2: #e6f4e9;
/*gris foncé*/
$primary-color3: #565656;
$light-grey: #F4F4F4;
$light-green: rgba(230, 244, 233, 0.3);
$theme-transparent: rgba(255, 255, 255, 0.9);


/*light 300 +300 italic, normal 400 + 400 italic, semi-bold 600, bold 700*/
$main-font: 'Josefin Sans', sans-serif;
$main-font-size: 14px;
$main-color-text: #464646;